.popup__input {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  color: black;
  display: block;
  font-size: 14px;
  line-height: 14px;
  margin: 0 auto 29px;
  min-width: 358px;
  padding: 0 0 13px 0;
}

@media screen and (max-width: 680px) {
  .popup__input {
    min-width: 238px;
  }
}
