.popup__input {
  align-self: center;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  color: black;
  font-size: 14px;
  line-height: 17px;
  min-height: 27px;
  min-width: 358px;
  padding-bottom: 13px;
}

@media screen and (max-width: 680px) {
  .popup__input {
    min-width: 238px;
  }
}
