.profile__edit {
  display: grid;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0 18px;
  grid-template-areas:
    "title edit"
    "subtitle .";
  justify-content: space-between;
  max-width: 415px;
}

@media screen and (max-width: 980px) {
  .profile__edit {
    gap: 14px 10px;
  }
}

@media screen and (max-width: 320px) {
  .profile__edit {
    justify-items: center;
    margin-top: 26px;
  }
}
