.profile__subtitle {
  font-size: 18px;
  line-height: 22px;
  max-width: 415px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media screen and (max-width: 980px) {
  .profile__subtitle {
    grid-area: subtitle;
    margin: 0 auto;
    text-align: center;
    width: 280px;
  }
}

@media screen and (max-width: 495px) {
  .profile__subtitle {
    font-size: 14px;
    line-height: 18px;
    margin-left: 19px;
    width: 200px;
  }
}
