.popup__form {
  align-items: flex-start;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  padding: 34px 36px 36px 36px;
}

@media screen and (max-width: 680px) {
  .popup__form {
    min-width: 282px;
  }
}
