.profile__buttons-edit {
  align-self: center;
  background-image: url("../../../images/Edit\ Button.svg");
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid white;
  cursor: pointer;
  height: 24px;
  transition: 0.1s;
  width: 24px;
}

.profile__buttons-edit:hover {
  opacity: 0.6;
}

@media screen and (max-width: 495px) {
  .profile__buttons-edit {
    grid-area: edit;
    height: 18px;
    width: 18px;
  }
}
