.popup__form-button {
  align-self: center;
  color: white;
  background-color: black;
  border: none;
  border-radius: 2px;
  box-sizing: border-box;
  cursor: pointer;
  padding: 14px;
  margin-bottom: 36px;
  min-width: 358px;
  transition: opacity ease-out 0.3s;
  font-size: 18px;
  line-height: 1.2;
}

.popup__form-button:hover {
  opacity: 0.8;
}

@media screen and (max-width: 600px) {
  .popup__form-button {
    font-size: 14px;
    line-height: 1.2;
    min-width: 238px;
  }
}
