.popup__title {
  color: black;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 900;
  line-height: 30px;
  margin: 34px 0 54px 36px;
  max-width: 330px;
}

@media screen and (max-width: 495px) {
  .popup__title {
    font-size: 18px;
    height: 22px;
    line-height: 22px;
    margin-bottom: 76px;
    margin-left: 22px;
    margin-top: 25px;
    width: 238px;
  }
}
