.popup__title {
  color: black;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 900;
  line-height: 30px;
  margin: 34px 0 54px 0px;
  padding: 0;
}

@media screen and (max-width: 600px) {
  .popup__title {
    font-size: 18px;
    margin: 24px 0 25px 0px;
  }
}
